* {
margin : 0;
padding : 0;
border : 0 none;
 }

button,input,textarea {font-family: inherit;font-size: 100%;line-height: 1.15;margin: 0;}


body {
  width: 1020px;
  font-family: 'Lato', sans-serif;
}

.wrapper {
  max-width: 1020px;
  padding: 60px 40px 55px 40px;
}

.quote {
  background-color: #f06c64;
}

.quote__wrapper {
padding-bottom: -10px;
}

.quote__title {
  font-size: 30px;
  line-height: 18px;
  color: #f0d8d9;
  font-family: "Lato";
  font-weight: 900;
  text-align: left;
  margin: 10px 0px;
}

.quote__description {
  width: 940px;
  font-size: 18px;
  line-height: 30px;
  color: #f0d8d9;
  font-family: "Lato";
  font-weight: 300;
  text-align: left;
  margin: 25px 0px 35px 0px;
}

.layout-2-column {
  display: flex;
}

.contact-us__form {

}

.layout-3-column .contact-us {
  color: #f0d8d9;
}

 .input-contact-us {
  width: 604px;
  height: 38px;
  border-radius: 5px;
  background-color: #d6564f;
  font-size: 12px;
  line-height: 22px;
  color: #f0d8d9;
  font-family: "Lato";
  font-weight: 400;
  text-align: left;
  margin: 8px 0px 8px 0px;
  padding-left: 15px;
}

::placeholder {
  color: #f48c8f;
}

.textarea-contact-us {
  font-size: 12px;
  line-height: 22px;
  color: #f0d8d9;
  font-family: "Lato";
  font-weight: 400;
  text-align: left;
  width: 594px;
  height: 192px;
  border-radius: 5px;
  background-color: #d6564f;
  margin: 8px 0px 8px 0px;
  padding: 8px 10px 0px 15px;
}

.contact-information {

}

.contact-information__wrapper {

}

.contact-informations__title {
  font-size: 18px;
  line-height: 18px;
  color: #f0d8d9;
  font-family: "Lato";
  font-weight: 900;
  text-align: left;
  margin: 5px 0px;
}

.contact-informations__description {
  width: 300px;
  font-size: 12px;
  line-height: 22px;
  color: #f0d8d9;
  font-family: "Lato";
  font-weight: 400;
  text-align: left;
}

.layout-3-row {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

 .contact-information-tag {
  font-size: 12px;
  line-height: 22px;
  color: #f0d8d9;
  font-family: "Lato";
  font-weight: 400;
  text-align: left;
  text-decoration: none;
  padding-left: 10px;
}

.quote__bottom {
  height: 6px;
  background-color: #ea676b;
}

.footer {
  height: 76px;
  background-color: #2d303a;
}

.footer__wrapper {

}

.layout-2-column {
  display: flex;
  flex-direction:row;
  justify-content: space-between;
}

.footer__copyright {
  widht: 175px;
  font-size: 12px;
  line-height: 22px;
  color: #666d89;
  font-family: "Lato";
  font-weight: 400;
  text-align: left;
  text-decoration: none;
  padding: 25px 40px;
}

.footer__copyright:hover {
  color: #f0d8d9;
}

.footer-btn-group {
 text-align: right;
 padding: 25px 40px;
 widht: 175px;
}

.contact__footer {

}
.contact__footer:hover {
  background: #ffffff;
}
