html {
   font-family: "Lato", Verdana, sans-serif;
   background: #2d303a;
   width:1020px;
   margin: 0;
   padding: 0;
}

body {
   padding: 60px 40px 60px 40px;
}

.portfolio__title {
  font-family: "Lato", Verdana, sans-serif;
  color: #666d89;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
}

button {
  font-family: "Lato", Verdana, sans-serif;
  font-style: normal;
  padding: 5px 8px 5px 8px;
  margin-right: 10px;
  font-style: normal;
  font-size: 1.6rem;
  border-radius: 4px;
  cursor: pointer;
  text-decoration-color: #666d89;
  background: #2d303a;
  border-color: #666d89;
}

.button:hover {
  background: #2d303a;
  text-decoration-color: #ffffff;
  border-color: #ffffff;
}

.img {
  margin: 10px;
}
