p {
  margin: 0;
  padding: 0;
}

body {
  width: 1020px;
  margin: 0;
  font-family: 'Lato', sans-serif;
}

.wrapper {
  max-width: 1020px;
}

.header {
  width: 1020px;
  background-color: #2d303a;
}

.header__wrapper {
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: auto 0px;
}

.header__bottom {
  height: 6px;
  background-color: #323746;
}

.logo {
  font-size: 25px;
  line-height: 6px;
  color: #ffffff;
  font-family: "Lato";
  font-weight: 700;
  text-align: left;
  text-decoration: none;
  margin: auto 40px;
}

.logo::after {
  content: "*";
  color: #f06c64;
}

.header__navigation{
  margin-right: 25px;
}

.navigation {
  display: flex;
}

.navigation .navigation__link {
  list-style: none;
  font-size: 12px;
  line-height: 6px;
  font-family: "Lato";
  font-weight: 700;
  text-align: left;
  margin: 20px 15px;
  cursor: pointer;
}


.navigation .navigation__link  a:link {
  color: #ffffff;
  text-decoration: none;
}

.header__navigation ul li a.active {
   color: #f06c64;
}

.header__navigation ul li a.link {
   color: #ffffff;
}

.navigation .navigation__divider {
  list-style: none;
  font-size: 12px;
  margin: 15px 0;
  color: #323746;
}

.logo {
  font-size: 25px;
  line-height: 6px;
  color: #ffffff;
  font-family: "Lato";
  font-weight: 700;
  text-align: left;
}

.banner {
  width: 1020px;
}

.banner__wrapper {
  height: 590px;
  background-color: #f06c64;
}

.banner__tags {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.banner__tags .tag_chev-left {
  width: 110px;
  vertical-align: middle;
  text-align: center;
  margin: 0px;
  padding: 0px;
}

.banner__tags .tag_chev-left img:active {
  background-image: url("./assets/banner/chev-left-black.png");
}

.banner__tags .tag_iPhone_Vertical {
  width: 310px;
  vertical-align: middle;
  margin-top: 50px;
  padding: 0px;
}

.banner__tags .tag_iPhone_Horizontal {
  width: 490px;
  vertical-align: middle;
  margin-top: 50px;
  padding: 0px;
}

.banner__tags .tag_chev-right {
  width: 110px;
  vertical-align: middle;
  text-align: center;
  margin: 0px;
  padding: 0px;
}

.banner__tags .tag_chev-right img:active {
  background-image: url("./assets/banner/chev-right-black.png");
}

.banner__bottom {
  height: 6px;
  background-color: #ea676b;
}

.our-services .wrapper{
  width: 1020px;
  margin: 10px 40px 40px 40px;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.our-services__title {
  font-size: 30px;
  line-height: 18px;
  color: #666d89;
  font-family: "Lato";
  font-weight: 900;
  text-align: left;
  margin: 60px 0px 20px 0px;
}

.our-services__description {
  width: 940px;
  height: 57px;
  font-size: 18px;
  line-height: 30px;
  color: #767e9e;
  font-family: "Lato";
  font-weight: 300;
  text-align: left;
  margin: 5px 0px 35px 0px;
}

.layout-3-column {
   display: flex;
   flex-direction: row;
   margin: 0px;
   padding: 0px;
}

.service {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0px;
  padding: 0px;
}

.service__img {
  vertical-align: middle;
  text-align: center;
  margin-top: 10px;
  padding: 0;
}

.service__content {
  display: flex;
  flex-direction: column;
  margin: 10px 20px 0px 20px;
}

.service__name {
  font-size: 18px;
  line-height: 18px;
  color: #666d89;
  font-family: "Lato";
  font-weight: 900;
  text-align: left;
  margin: 0px;
}

.service__title {
  width: 219px;
  font-size: 12px;
  line-height: 22px;
  color: #767e9e;
  font-family: "Lato";
  font-weight: 400;
  text-align: left;
  margin: 10px 0px 20px 0px;
}
